@import "tailwindcss/preflight";
@tailwind utilities;

/* horizontal scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.input-style {
  @apply w-full bg-transparent border-b border-gray-700 text-white px-1 py-3 text-sm outline-none transition;
}

.input-style::placeholder {
  color: #6b7280; /* gray-500 */
}

.input-style:focus {
  border-color: #ef4444; /* red-500 */
}
