@import "tailwindcss/preflight";
@tailwind utilities;

@import "tailwindcss";

/* IMPORTANT for @apply */
@reference utilities;

/* horizontal scroll animation */
@keyframes scroll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.input-style {
  @apply w-full bg-transparent border-b text-sm outline-none transition;
}

.input-style::placeholder {
  color: #6b7280;
}

.input-style:focus {
  border-color: #ef4444;
}